<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Shitpost</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>

<h1 class="d-flex justify-content-center">Bạn đang nghĩ gì?</h1>

<form th:action="@{/posting}" th:object="${post}" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Bro tên gì?</label>
        <input type="text" th:field="*{name}" class="form-control" id="exampleFormControlInput1" placeholder="Tên như nào cũng được bro">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nói hết nỗi lòng đi bro à</label>
        <input type="text" th:field="*{description}" class="form-control" id="exampleFormControlTextarea1">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3" >Confirm</button>
    </div>
</form>

<div class="d-flex justify-content-center">
    <a th:href="@{/posts}" class="btn btn-dark" role="button">Quay về</a>
</div>

</body>
</html>