<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Shitpost</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>

<h1 class="d-flex justify-content-center">Handbook</h1>
    <div class="container">
        <div class="card" th:each="post : ${posts}">
            <div class="card-body">
                <h5 class="card-title"><span th:text="${post.name}"></span></h5>
                <p class="card-text"><span th:text="${post.description}"></span></p>
                <a href="#" class="card-link">Update</a>
                <a th:href="@{/delete/{id}(id=${post.id})}" class="card-link">Delete</a>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a th:href="@{/posting}" class="btn btn-dark" role="button">Đăng bài</a>
    </div>
    <br>
</body>
</html>